<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="DBCS3" connectionString="Data Source=DESKTOP-TBV3J9S;Initial Catalog=DBCS3; user id=testuser; password=test; Integrated Security=True"
			  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="welcome.aspx">
				<credentials passwordFormat="Clear">
					<user name="Sureder" password="Surender"/>
					<user name="Kumar" password="Kumar"/>
				</credentials>
			</forms>
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>

		<httpRuntime targetFramework="4.7.2" />
	</system.web>

</configuration>
